<!--DOCTYPE html -->
{% load staticfiles %}

<head>
<link rel="stylesheet"  href="/static/css/plot.css">
</head>
<html>
	<body>
		<h1>{{ title }} </h1>
		<p>
			<a href={{ index }}>Back to main page</a>
		</p>
	</body>
	<form action="/data/compare/" method="POST">
	{% csrf_token %}
	<select name="attribute">
	{% for attribute in attibutes %}
        	<option value="{{attribute}}" selected="selected">Attribute : {{attribute}}</option>
        {% endif %}
{% endfor %}
</select>
	<input  type = "submit" value="Compare attributes for devices">
	</form>
</html>
