<!--DOCTYPE html -->
{% load staticfiles %}

<head>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<link rel="stylesheet"  href="/static/css/plot.css">
</head>
<html>
	<body>
		<h1>{{ title }} </h1>
	<div> 
		<p>
			<a href = {{ index }}>Back to main page</a>
		</p>
		<p>
			<a href = {{ table }}>Go to table page</a>
		</p>

	</div>
<form action="/data/plot/" method="POST">
{% csrf_token %}
<select name="dev">
{% for device in devices %}
        {% if device.id == request.session.dev_id|add:0 %}
        	<option value="{{ device.id }}" selected="selected">Device {{ device.id }}: {{ device.name }}</option>
        {% else %}
        	<option value="{{ device.id }}">Device {{ device.id }}: {{ device.name }}</option>
        {% endif %}
{% endfor %}
</select>
<input  type = "submit" value="Change device">
</form>
        <div class="container">
            <div class="row" style="border: 1px solid black">
            {# <div id="plot_container" class="col-md-8 col-md-offset-2">{{plot|safe}}</div>#}
            <div class="col-md-12">{{plot|safe}}</div>
        </div>
	</body>
</html>
