<!--DOCTYPE html -->
{% load staticfiles %}

<head>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<link rel="stylesheet"  href="/static/css/main.css">
</head>
<html>
	<body>
		<h1>{{ title }} </h1>
        <div class="container">
            <div class="row" style="border: 1px solid black">
            {# <div id="plot_container" class="col-md-8 col-md-offset-2">{{plot|safe}}</div>#}
            <div class="col-md-12">{{plot|safe}}</div>
        </div>
	<br/>
		<table>
		<tr>
			<th>Id</th>
			<th>Date time</th>
			<th>Temperature</th>
			<th>Humidity</th>
			<th>Light</th>
			<th>Is loud</th>
			<th>Is valid</th>
		</tr>
		{% for obj in data_list %}
		<tr>
			<th>{{ obj.id}}</th>
			<th>{{ obj.datetime }}</th>
			<th>{{ obj.temperature }}</th>
			<th>{{ obj.humidity }}</th>
			<th>{{ obj.light }}</th>
			<th>{{ obj.is_loud }}</th>
			<th>{{ obj.is_valid }}</th>
		</tr>
		{% endfor %}
		</table>
		</div>
		<div class="paginator">
			{% if data_list.has_previous %}
				<a href="?page=1"><<</a>
				<a href="?page={{ data_list.previous_page_number }}"><</a>
			{% endif %}
			{% for page in data_list.paginator.page_range %}
			{% if data_list.number == page %}
				<strong> {{ page }} </strong> 
			{% else %}
			<span class="paginator-number paginator-current">{{ page }}</span>
			{% endif %}
			{% endfor %}
			{% if data_list.has_next %}
			<a href="?page={{ data_list.next_page_number }}">></a>
			<a href="?page={{ data_list.paginator.num_pages }}">>></a>
			{% endif %}

		</div>

	</body>
</html>
