<!--DOCTYPE html -->
{% load staticfiles %}

<head> <link rel="stylesheet"  href="/static/css/table.css">
</head>
<html>
	<body>
		<h1>{{ title }} </h1>
		<div>
			<p>
				<a href={{ index }}>Back to main page</a>
			</p>
			<p>
				<a href={{ plot }}>Go to plot page</a>
			</p>

		</div>
<form action="/data/table/" method="POST">
{% csrf_token %}
<select name="dev">
{% for device in devices %}
        {% if device.id == request.session.dev_id|add:0 %}
        	<option value="{{ device.id }}" selected="selected">Device {{ device.id }}: {{ device.name }}</option>
        {% else %}
        	<option value="{{ device.id }}">Device {{ device.id }}: {{ device.name }}</option>
        {% endif %}
{% endfor %}
</select>
<input  type = "submit" value="Change device">
</form>
<form action="/data/temperature/" method="POST">
{% csrf_token %}
<select name="filters">
	{% for attribute in filters %}
	<option value="{{ attribute }}">{{ attribute }}</option>
	{% endfor %}
</select>
<input  type = "number" name="temp_from">
<input  type = "number" name="temp_to">
<input  type = "submit" value="Apply selected filter">
<input type="radio" id="filter" name="filter_radio_button" value="OK">
<label for="student">Apply to a filtered data</label>
</form>
	</p>
	<br/>
		<table>
		<tr>
			<th>Date time</th>
			<th>Temperature</th>
			<th>Humidity</th>
			<th>Light</th>
			<th>Is loud</th>
			<th>Is valid</th>
		</tr>
		{% for obj in data_list %}
		<tr>
			<th>{{ obj.datetime }}</th>
			<th>{{ obj.temperature }}</th>
			<th>{{ obj.humidity }}</th>
			<th>{{ obj.light }}</th>
			<th>{{ obj.is_loud }}</th>
			<th>{{ obj.is_valid }}</th>
		</tr>
		{% endfor %}
		</table>
		</div>
		<div class="paginator">
			{% if data_list.has_previous %}
				<a href="?page=1">First page</a>
				<a href="?page={{ data_list.previous_page_number }}"><</a>
			{% endif %}
			{% for page in data_list.paginator.page_range %}
				{% if data_list.number == page %}
					<a href="?page={{ page }}"><strong> {{ page }}</strong></a>
					{% elif page > data_list.number|add:'-4' and page < data_list.number|add:'3'  %}
					<a href="?page={{ page }}">{{ page }}</a>
				{% endif %}
			{% endfor %}

			{% if data_list.has_next  %}
			<a href="?page={{ data_list.next_page_number  }}">></a>
			<a href="?page={{ data_list.paginator.num_pages }}">Last page</a>
			{% endif %}
		</div>

	</body>
</html>
